@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300;400;500;600;700&family=Sofia+Sans+Condensed:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

body {
    background-color: #04284c;
}

header{
  background-color: #5CDB95;
}

/* header { */
    /* width: 100%; */
    /* background-color: #5CDB95; */
    /* padding: 20px;   */
    /* text-align: center; */
    /* color: #fff; */
    /* font-size: 20px; */
/* } */


 /* main {
    margin: 10px auto;
    width: 800px;
    text-align: center;
} */

/* main > div > h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-name {
    border: 1px solid rgb(227, 227, 227);
    padding: 10px 20px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(231, 231, 231);
}

.btn-save {
    padding: 5px 20px;
    background-color: #5CDB95;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
} */

/* .input-container{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
} */



.task-item {
    width: 310px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid rgb(210, 210, 210);
    margin: 10px;
    font-size: 14px;
    color: gray;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgb(231, 231, 231);

}


.task-item:hover {
    background-color: rgb(0, 37, 124);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}


/* .alert{
    background-color: rgb(12, 172, 12);
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;

} */

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  .tog{
    display: flex;
    justify-content: flex-end;
  }
  
  .toggle input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5CDB95;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }


  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    ;
  }
   
  input:checked + .slider {
    background-color: #05386B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
   
  .transition{
    transition: all 1s;
  }

  @keyframes translateX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100px);
    }
  }

  /*  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    
    color: #fff;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #000;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
 */
 
  td:hover{
    /* color: #000; */
    cursor: pointer;
  }
 
  tr.active{
    background-color:#5CDB95;
  }

/*  
.donate{
  display: none;
}

#btn{
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #5CDB95;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-container{
  background-color: #fff;
  border-radius: 10px;  
  
}

#form {
  padding: 50px 0px;
}

#form #input{
  padding: 10px;
  width: 400px;
  margin: 10px;
  border: 1px solid rgb(191, 189, 189);
  border-radius: 5px;
  box-sizing: border-box;
}


#form #input:focus{
  outline: 2px solid #5CDB95;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  
}

#form select{
  padding: 8px;
  width: 400px;
  margin: 10px;
  border: 1px solid rgb(191, 189, 189);
  border-radius: 5px;
}

#form label{
  color: #000;
  padding-right: 20px;
}

#form input[type=submit]{
  padding: 5px 20px;
  background-color: #5CDB95;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
 */
